// ----- Colors ----- //
$white: rgba(255,255,255,1);
$black: rgba(0,0,0,1);
$yellow: #F0C418;
$brown: #5B4B49;
$regent-gray: #77878B;

// ----- Fonts ----- //
$lato: 'Lato', sans-serif;
$rubik: 'Rubik', sans-serif;

// ----- Resets ----- //
html, body{
  margin: 0;
  font-size: 16px;
}

// ----- Breakpoints ----- //
@mixin breakpoint($point) {
@if $point == phone {
  @media (min-width: 540px) { @content; }
 }
@if $point == tablet {
  @media (min-width: 768px) { @content; }
 }
 @if $point == desktop {
   @media (min-width: 1024px) { @content; }
  }
}

// ----- Mixins ----- //
@mixin padding(){
  padding: 0 1rem;
  @include breakpoint('phone'){
    padding: 0 2rem;
  }
  @include breakpoint('tablet'){
    padding: 0 4rem;
  }
}


// ----- Global Styles ----- //
.fk{
  &__heading{
    font-size: 1.25rem;
    font-family: $lato;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 4rem;
    &:after{
      position: absolute;
      margin-top: 1rem;
      height: 3px;
      width: 40px;
      content: '';
      display: block;
    }
    &--dark{
      color: $brown;
      letter-spacing: 2px;
      &:after{
        background: $brown;
      }
    }
    &--light{
      color: $white;
      letter-spacing: 2px;
      &:after{
        background: $white;
      }
    }
  }
}
